.contacts {
  background: url("../assets/img/bg2.jpg") center center/auto 700px no-repeat;

  @media (max-width: 768px) {
    background-size: 1200px 600px;
    background-position: center 43px;
  }
  &__inner {
    display: flex;
    justify-content: end;
    padding: 60px 0 195px 0;
    @media (max-width: 768px) {
      justify-content: center;
      padding: 102px 0px 118px 17px;
      text-align: center;
    }
    .form {
      display: flex;
      width: 450px;
      flex-direction: column;
      row-gap: 20px;
      &__title {
        padding-bottom: 20px;

        font-family: Merriweather;
        font-size: 40px;
        font-weight: 700;
        line-height: 80px;
        color: $gold;
        @media (max-width: 768px) {
          font-size: 32px;
          line-height: 64px;
        }
      }
      &__email {
        height: 50px;

        color: $white;
        font-family: inherit;
        font-size: 20px;
        padding: 5px 17px;

        background: rgba(0, 0, 0, 0.5);
        border: 2px solid $gold;
        &::placeholder {
          font-family: inherit;
          font-size: 20px;
          line-height: 40px;
          color: $gold;
        }
      }
      &__tel {
        height: 50px;

        color: $white;
        font-family: inherit;
        font-size: 20px;
        padding: 5px 17px;

        background: rgba(0, 0, 0, 0.5);
        border: 2px solid $gold;
        &::placeholder {
          font-family: inherit;
          font-size: 20px;
          line-height: 40px;
          color: $gold;
        }
      }
      &__textarea {
        height: 100px;
        margin-bottom: 10px;

        color: $white;
        font-family: inherit;
        font-size: 20px;
        padding: 2px 17px;

        background: rgba(0, 0, 0, 0.5);
        border: 2px solid $gold;

        resize: none;
        &::placeholder {
          font-family: inherit;
          font-size: 20px;
          line-height: 40px;
          color: $gold;
        }
      }
      .btn {
        @media (max-width: 768px) {
          margin-left: 115px;
        }
      }
    }
  }
}
