.footer {
  padding: 50px 0;
  @media (max-width: 768px) {
    padding: 8px 0;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      justify-content: center;
      text-align: center;
      align-items: center;
    }
    div {
      @media (max-width: 768px) {
        flex: 0 1 100%;
      }
    }
    &-copy {
      & span {
        margin-right: 20px;
        @media (max-width: 768px) {
          margin-right: 22px;
        }
      }
      & a {
        margin-right: 80px;
        transition: color 0.3s ease-in-out;
        &:hover {
          color: $gold;
        }
        
      }
      @media (max-width: 768px) {
        margin-left: 90px;
      }
    }
    &-rss {
      a {
        transition: color 0.3s ease-in-out;
        &:hover {
          color: $gold;
        }
      }
      @media (max-width: 768px) {
        margin: -10px -13px 7px 0;
      }
    }
    &-contacts {
      ul {
        display: flex;
        margin: 0;
        @media (max-width: 768px) {
          justify-content: center;
        }
        li {
          list-style: none;
          .icon {
            width: 32px;
            margin-left: 20px;
          }
        }
      }
      @media (max-width: 768px) {
        margin-right: 42px;
      }
    }
  }
}
