.hero {
  background-image: url("../assets/img/bg1.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
  &__inner {
    padding: 157px 0 330px 59px;
    max-width: 549px;
  }
  &__title {
    font-family: Merriweather, serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 131px;
  }
  &__text {
    margin-bottom: 27px;

    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
  }
  
}
