.portfolio__inner {
  .title {
    position: relative;
    padding-top: 110px;
    padding-bottom: 60px;

    width: 50%;
    margin: 0 auto;
    font-family: Merriweather;
    font-weight: bold;
    font-size: 26px;
    line-height: 80px;
    text-align: center;
    color: $gold;

    overflow-x: hidden;
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 34%;

      position: absolute;
      top: 59.5%;
      right: 0;

      background-color: $gold;
    }
    &::before {
      content: "";
      display: block;
      height: 2px;
      width: 34%;

      position: absolute;
      top: 59.5%;
      left: 0;

      background-color: $gold;
    }
  }
}
.tabs{
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-bottom: 60px;
}

.tabs-content{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}