.portfolio__inner {
  .title {
    position: relative;
    padding-top: 110px;
    padding-bottom: 60px;

    width: 50%;
    margin: 0 auto;
    font-family: Merriweather;
    font-weight: bold;
    font-size: 26px;
    line-height: 80px;
    text-align: center;
    color: $gold;

    overflow-x: hidden;

    @media (max-width: 768px) {
      padding-top: 85px;
      padding-bottom: 50px;
      font-size: 22px;
      width: 50%;
      margin: 0 167px 0 187px;
    }
    @media (max-width: 750px) {
      width: 50%;
      margin: 0 auto;
    }
    @media (max-width: 650px) {
      width: 70%;
    }
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 39%;

      position: absolute;
      top: 58%;
      right: 0;

      background-color: $gold;
      @media (max-width: 1268px) {
        width: 24%;
      }
      @media (max-width: 768px) {
        top: 57.5%;
      }
      @media (max-width: 700px) {
        width: 25%;
      }
      
    }
    &::before {
      content: "";
      display: block;
      height: 2px;
      width: 39%;

      position: absolute;
      top: 58%;
      left: 0;

      background-color: $gold;
      @media (max-width: 1268px) {
        width: 24%;
      }
      @media (max-width: 768px) {
        top: 57.5%;
      }
      @media (max-width: 700px) {
        width: 25%;
      }
    }
  }
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  margin-bottom: 60px;
  &__item {
    @media (max-width: 768px) {
      margin-left: 18px;
    }
  }
  @media (max-width: 521px) {
    text-align: center;
  }
}

.tabs-content {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  @media (max-width: 1456px) {
    margin-left: 18px;
  }
}
