.portfolio.light-theme {
  .btn {
    background: $gold;
    color: $mate;
    &.active,
    &:hover {
      background: $mate;
      color: $gold;
    }
  }
}
.portfolio__inner {
  
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  margin-bottom: 60px;
  &__item {
    @media (max-width: 768px) {
      margin-left: 18px;
    }
  }
  @media (max-width: 521px) {
    text-align: center;
  }
}

.tabs-content {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  @media (max-width: 1456px) {
    margin-left: 18px;
  }
  img {
    @media (max-width: 480px) {
      max-width: 100%;
      height: auto;
    }
  }
}
