.price__inner {
  margin-bottom: 100px;
  @media (max-width: 768px) {
    margin-bottom: 13px;
  }
  .title {
    position: relative;
    padding-top: 82px;
    padding-bottom: 60px;
    width: 50%;
    margin: 0 auto;

    font-family: Merriweather;
    font-weight: bold;
    font-size: 26px;
    line-height: 80px;
    text-align: center;
    color: $gold;

    overflow-x: hidden;
    @media (max-width: 768px) {
      padding-top: 62px;
      padding-bottom: 50px;
      font-size: 22px;
      width: 50%;
      margin: 0 167px 0 187px;
    }
    @media (max-width: 750px) {
      width: 50%;
      margin: 0 auto;
    }
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 39%;

      position: absolute;
      top: 58%;
      right: 0;

      background-color: $gold;
      @media (min-width: 1269px) {
        width: 40%;
        top: 54.5%;
      }
      @media (max-width: 1268px) {
        width: 33%;
        top: 55%;
      }
      @media (max-width: 768px) {
        top: 53%;
      }
      @media (max-width: 700px) {
        width: 25%;
      }
    }
    &::before {
      content: "";
      display: block;
      height: 2px;
      width: 39%;

      position: absolute;
      top: 58%;
      left: 0;

      background-color: $gold;
      @media (min-width: 1269px) {
        width: 40%;
        top: 54.5%;
      }
      @media (max-width: 1268px) {
        width: 33%;
        top: 55%;
      }
      @media (max-width: 768px) {
        top: 53%;
      }
      @media (max-width: 700px) {
        width: 25%;
      }
    }
  }
}
.cards {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 1457px) {
    justify-content: space-around;
  }
  &__item {
    flex: 0 1 450px;
    display: flex;
    gap: 20px;
    padding: 40px 0px;

    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;

    border: 3px solid $gold;
    @media (max-width: 768px) {
      flex: 0 1 420px;
      margin:0 0 25px 18px;
    }
    &-header {
      font-family: Merriweather;
      font-weight: bold;
      font-size: 28px;
      line-height: 56px;
    }
    &-price {
      font-family: Merriweather;
      font-weight: bold;
      font-size: 24px;
      line-height: 48px;

      color: $gold;
    }
    &-text {
      font-family: Inter;
      font-weight: normal;
      font-size: 18px;
      line-height: 36px;
      padding-bottom: 20px;
    }
  }
}
