/*========================== Typography =================================================================*/
@font-face {
  font-family: Merriweather;
  src: url("../assets/fonts/MerriweatherSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
}

/*========================== Normalize =================================================================*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/*========================== PAGE ======================================================================*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

html,
body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  background: #000000;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.icon {
  width: 50px;
  height: 50px;
  fill: #ffffff;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.icon:hover {
  fill: #bdae82;
}

.btn {
  height: 55px;
  width: 220px;
  font-family: inherit;
  border: 0;
  background-color: #bdae82;
  cursor: pointer;
}

.btn.active {
  color: #bdae82;
  background-color: transparent;
  border: 2px solid #bdae82;
}

.btn:hover {
  color: #ffffff;
}

/*========================== HEADER ======================================================================*/
.header {
  background: url(../assets/img/bg1.jpg) no-repeat center 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  list-style: none;
  margin-right: 31px;
}

.nav__link a {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.nav__link a:hover {
  color: #bdae82;
}

.lang__en {
  color: #bdae82;
}

.lang span:not(:last-child) {
  margin-right: 3.5px;
}

/*========================== HERO ========================================================================*/
.hero {
  background-image: url("../assets/img/bg1.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
}

.hero__inner {
  padding: 157px 0 330px 59px;
  max-width: 549px;
}

.hero__title {
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 131px;
}

.hero__text {
  margin-bottom: 27px;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}

/*========================== SKILLS ======================================================================*/
.skills__inner .title {
  position: relative;
  padding-top: 100px;
  padding-bottom: 60px;
  font-family: Merriweather;
  font-weight: bold;
  font-size: 26px;
  line-height: 80px;
  text-align: center;
  color: #bdae82;
}

.skills__inner .title::after {
  content: '';
  display: block;
  height: 2px;
  width: 274px;
  position: absolute;
  top: 58%;
  right: 25%;
  background-color: #bdae82;
}

.skills__inner .title::before {
  content: '';
  display: block;
  height: 2px;
  width: 274px;
  position: absolute;
  top: 58%;
  left: 25%;
  background-color: #bdae82;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content__item {
  padding-top: 95px;
  max-width: 320px;
  text-align: center;
}

.content__item:nth-child(1) {
  background: url("../assets/svg/camera.svg") center top/62px 50px no-repeat;
}

.content__item:nth-child(2) {
  background: url("../assets/svg/video.svg") center top/62px 50px no-repeat;
}

.content__item:nth-child(3) {
  background: url("../assets/svg/image.svg") center top/62px 50px no-repeat;
}

.content__item:nth-child(4) {
  background: url("../assets/svg/mic.svg") center top/62px 50px no-repeat;
}

.content__item__title {
  margin-bottom: 15px;
  letter-spacing: 0.4px;
}

.content__item__text {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.4px;
}

/*========================== PORTFOLIO ======================================================================*/
.portfolio__inner .title {
  position: relative;
  padding-top: 110px;
  padding-bottom: 60px;
  font-family: Merriweather;
  font-weight: bold;
  font-size: 26px;
  line-height: 80px;
  text-align: center;
  color: #bdae82;
}

.portfolio__inner .title::after {
  content: "";
  display: block;
  height: 2px;
  width: 239px;
  position: absolute;
  top: 59.5%;
  right: 25%;
  background-color: #bdae82;
}

.portfolio__inner .title::before {
  content: "";
  display: block;
  height: 2px;
  width: 239px;
  position: absolute;
  top: 59.5%;
  left: 25%;
  background-color: #bdae82;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.tabs-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
