/*========================== Typography =================================================================*/
@font-face {
  font-family: Merriweather;
  src: url("../assets/fonts/MerriweatherSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
}

/*========================== Normalize =================================================================*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/*========================== PAGE/reset/tools ======================================================================*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

html,
body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  background: #000000;
}

@media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
    position: relative;
  }
}

html.light-theme,
body.light-theme {
  background: #ffffff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .container {
    padding-right: 40px;
  }
}

.icon {
  width: 50px;
  height: 50px;
  fill: #ffffff;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.icon:hover {
  fill: #bdae82;
}

.icon.light-theme {
  fill: #1c1c1c;
  background-color: transparent;
}

.icon.light-theme:hover {
  fill: #bdae82;
}

.btn {
  height: 55px;
  width: 220px;
  font-family: inherit;
  background-color: transparent;
  border: 2px solid #bdae82;
  color: #bdae82;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.btn.active {
  background-color: #bdae82;
  border: 0;
  color: #000000;
}

.btn:hover {
  color: #ffffff;
  -webkit-box-shadow: 0 1em 1.5em -0.4em #6085ff;
          box-shadow: 0 1em 1.5em -0.4em #6085ff;
  -webkit-transform: translatey(-0.65em);
          transform: translatey(-0.65em);
}

.hide {
  display: none;
}

.show {
  display: block;
}

/*========================== HEADER ======================================================================*/
.header {
  background: url(../assets/img/bg1.jpg) no-repeat center 0;
}

@media (max-width: 768px) {
  .header {
    height: 30px;
    background-position: center -30px;
    background-size: auto 620px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header__inner {
    padding: 20px 28px;
  }
}

@media (max-width: 768px) {
  .header__inner .icon {
    margin-left: 13px;
  }
}

.header__inner .icon-btn {
  height: 45px;
  width: 45px;
  margin-left: 25px;
  fill: #ffffff;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
  cursor: pointer;
}

@media (max-width: 770px) {
  .header__inner .icon-btn {
    margin-left: 13px;
  }
}

.header__inner .icon-btn:hover {
  fill: #bdae82;
}

.header__inner .icon-btn.light-theme {
  fill: #1c1c1c;
  height: 40px;
  width: 40px;
  background: transparent;
}

.header__inner .icon-btn.light-theme:hover {
  fill: #bdae82;
}

@media (max-width: 350px) {
  .header__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header.light-theme {
  background: white url(../assets/img/bg1-white.jpg) no-repeat center 0;
}

@media (max-width: 768px) {
  .header.light-theme {
    height: 30px;
    background-position: -5px -30px;
    background-size: auto 620px;
  }
}

.header.light-theme .nav a {
  color: #1c1c1c;
}

.header.light-theme .nav a:hover {
  color: #ffffff;
}

.header.light-theme .lang__item.active {
  color: #ffffff;
}

.header.light-theme .line {
  background-color: #1c1c1c;
}

.header.light-theme .hamburger-nav {
  background-color: #ffffff;
}

.nav {
  margin-left: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  list-style: none;
  margin-right: 31px;
}

.nav__link a {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.nav__link a:hover {
  color: #bdae82;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}

.hamburger-nav {
  position: absolute;
  z-index: 10;
  top: 0;
  display: none;
  height: 100vh;
  width: 80%;
  right: -768px;
  -webkit-transition: right 0.5s ease-in-out;
  transition: right 0.5s ease-in-out;
  background: #000000;
}

@media (max-width: 768px) {
  .hamburger-nav {
    display: block;
  }
}

@media (max-width: 620px) {
  .hamburger-nav {
    width: 100%;
    text-align: center;
  }
}

.hamburger-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 146px 124px;
  padding: 0;
}

.hamburger-nav__link {
  list-style: none;
  margin-bottom: 34px;
}

.hamburger-nav__link a {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  font-size: 35px;
}

.hamburger-nav__link a:hover {
  color: #bdae82;
}

.hamburger-nav.active {
  right: 0;
}

.lang__en {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 768px) {
  .lang__en {
    margin-right: -10.6px;
  }
}

.lang__en.active {
  color: #bdae82;
}

.lang__ru {
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.lang__ru.active {
  color: #bdae82;
}

.lang span:not(first-child) {
  margin-left: 3.4px;
}

@media (max-width: 768px) {
  .lang span:not(first-child) {
    margin-left: 15.4px;
  }
}

@media (max-width: 768px) {
  .lang {
    margin-left: auto;
  }
}

@media (max-width: 350px) {
  .lang {
    margin-left: 0;
  }
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger:hover .line {
  background-color: #bdae82;
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(1) {
  -webkit-transform: translateY(12px) rotate(45deg);
          transform: translateY(12px) rotate(45deg);
}

.hamburger.active .line:nth-child(3) {
  -webkit-transform: translateY(-9.5px) rotate(-45deg);
          transform: translateY(-9.5px) rotate(-45deg);
}

.hamburger .line {
  display: none;
  width: 50px;
  height: 3px;
  background-color: #ffffff;
  margin: 8px 0 8px 20px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .hamburger .line {
    display: block;
  }
}

.hamburger.active {
  position: absolute;
  top: 25px;
  right: 48px;
  z-index: 11;
}

/*========================== HERO ========================================================================*/
.hero {
  background-image: url("../assets/img/bg1.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .hero {
    height: 590px;
    background-position: center -60px;
    background-size: auto 620px;
  }
}

.hero__inner {
  padding: 157px 0 330px 59px;
  max-width: 549px;
}

@media (max-width: 768px) {
  .hero__inner {
    padding: 157px 100px 330px 40px;
  }
}

.hero__title {
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 131px;
}

@media (max-width: 768px) {
  .hero__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 26px;
    padding-bottom: 40px;
  }
}

.hero__text {
  margin-bottom: 27px;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}

@media (max-width: 768px) {
  .hero__text {
    line-height: 24px;
    padding-bottom: 32px;
  }
}

.hero.light-theme {
  background-image: url("../assets/img/bg1-white.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .hero.light-theme {
    height: 590px;
    background-position: -5px -60px;
    background-size: auto 620px;
  }
}

.hero.light-theme .btn.active {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero.light-theme .btn.active:hover {
  background: #1c1c1c;
  color: #bdae82;
  -webkit-box-shadow: 0 1em 1.5em -0.4em #6085ff;
          box-shadow: 0 1em 1.5em -0.4em #6085ff;
}

/*========================== SKILLS ======================================================================*/
@media (max-width: 768px) {
  .skills__inner {
    padding: 0 20px;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1337px) {
  .content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
}

.content__item {
  padding-top: 95px;
  max-width: 320px;
  text-align: center;
}

@media (max-width: 1337px) {
  .content__item {
    padding-bottom: 75px;
  }
}

@media (max-width: 768px) {
  .content__item {
    padding-top: 76px;
    width: 300px;
  }
}

.content__item:nth-child(1) {
  background: url("../assets/svg/camera.svg") center top/62px 50px no-repeat;
}

.content__item:nth-child(2) {
  background: url("../assets/svg/video.svg") center top/62px 50px no-repeat;
}

@media (max-width: 768px) {
  .content__item:nth-child(2) {
    margin-right: -15px;
  }
}

.content__item:nth-child(3) {
  background: url("../assets/svg/image.svg") center top/62px 50px no-repeat;
}

.content__item:nth-child(4) {
  background: url("../assets/svg/mic.svg") center top/62px 50px no-repeat;
}

@media (max-width: 768px) {
  .content__item:nth-child(4) {
    margin-right: -15px;
  }
}

.content__item__title {
  margin-bottom: 15px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.content__item__text {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.2px;
}

@media (max-width: 768px) {
  .content__item__text {
    line-height: 22px;
    letter-spacing: 0;
  }
}

/*========================== PORTFOLIO ===================================================================*/
.portfolio.light-theme .btn {
  background: #bdae82;
  color: #1c1c1c;
}

.portfolio.light-theme .btn.active, .portfolio.light-theme .btn:hover {
  background: #1c1c1c;
  color: #bdae82;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .tabs__item {
    margin-left: 18px;
  }
}

@media (max-width: 521px) {
  .tabs {
    text-align: center;
  }
}

.tabs-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1456px) {
  .tabs-content {
    margin-left: 18px;
  }
}

@media (max-width: 480px) {
  .tabs-content img {
    max-width: 100%;
    height: auto;
  }
}

/*========================== VIDEO =======================================================================*/
.video-content {
  position: relative;
}

.video-content__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  border: 0;
}

.video-content__btn .icon {
  width: 130px;
  height: 130px;
  -webkit-transform: translate(-54%, -57%);
          transform: translate(-54%, -57%);
}

@media (max-width: 768px) {
  .video-content__btn .icon {
    width: 65px;
    height: 65px;
    -webkit-transform: translate(-49%, -64%);
            transform: translate(-49%, -64%);
  }
}

@media (min-width: 769px) {
  .video-content__player {
    width: 100%;
    max-width: 1400px;
  }
}

@media (max-width: 768px) {
  .video-content__player {
    max-width: 808px;
    height: 418px;
    position: relative;
    left: -20px;
  }
}

@media (max-width: 767px) {
  .video-content__player {
    max-width: 100%;
    height: auto;
    left: 20px;
  }
}

/*========================== PRICE =======================================================================*/
.price.light-theme .btn {
  background: #bdae82;
  color: #1c1c1c;
}

.price.light-theme .btn:hover {
  background: #1c1c1c;
  color: #bdae82;
}

.price__inner {
  padding-bottom: 100px;
}

@media (max-width: 768px) {
  .price__inner {
    padding-bottom: 13px;
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1457px) {
  .cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.cards__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 450px;
          flex: 0 1 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 40px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 3px solid #bdae82;
}

@media (max-width: 768px) {
  .cards__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 420px;
            flex: 0 1 420px;
    margin: 0 0 25px 18px;
  }
}

.cards__item-header {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
}

.cards__item-price {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  color: #bdae82;
}

.cards__item-text {
  font-family: Inter;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  padding-bottom: 20px;
}

/*========================== CONTACTS ====================================================================*/
.contacts {
  background: url("../assets/img/bg2.jpg") center center/auto 700px no-repeat;
}

@media (max-width: 768px) {
  .contacts {
    background-size: 1200px 600px;
    background-position: center 43px;
  }
}

.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 60px 0 195px 0;
}

@media (max-width: 768px) {
  .contacts__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 102px 0px 118px 17px;
    text-align: center;
  }
}

.contacts__inner .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.contacts__inner .form__title {
  padding-bottom: 20px;
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 700;
  line-height: 80px;
  color: #bdae82;
}

@media (max-width: 768px) {
  .contacts__inner .form__title {
    font-size: 32px;
    line-height: 64px;
  }
}

.contacts__inner .form__email {
  height: 50px;
  color: #ffffff;
  font-family: inherit;
  font-size: 20px;
  padding: 5px 17px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
}

.contacts__inner .form__email::-webkit-input-placeholder {
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
}

.contacts__inner .form__email:-ms-input-placeholder {
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
}

.contacts__inner .form__email::-ms-input-placeholder {
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
}

.contacts__inner .form__email::placeholder {
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
}

.contacts__inner .form__tel {
  height: 50px;
  color: #ffffff;
  font-family: inherit;
  font-size: 20px;
  padding: 5px 17px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
}

.contacts__inner .form__tel::-webkit-input-placeholder {
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
}

.contacts__inner .form__tel:-ms-input-placeholder {
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
}

.contacts__inner .form__tel::-ms-input-placeholder {
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
}

.contacts__inner .form__tel::placeholder {
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
}

.contacts__inner .form__textarea {
  height: 100px;
  margin-bottom: 10px;
  color: #ffffff;
  font-family: inherit;
  font-size: 20px;
  padding: 2px 17px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  resize: none;
}

.contacts__inner .form__textarea::-webkit-input-placeholder {
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
}

.contacts__inner .form__textarea:-ms-input-placeholder {
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
}

.contacts__inner .form__textarea::-ms-input-placeholder {
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
}

.contacts__inner .form__textarea::placeholder {
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
}

@media (max-width: 768px) {
  .contacts__inner .form .btn {
    margin-left: 115px;
  }
}

.contacts.light-theme {
  background: white url("../assets/img/bg2-white.jpg") center center/auto 700px no-repeat;
}

@media (max-width: 768px) {
  .contacts.light-theme {
    background-size: 1200px 600px;
    background-position: center 43px;
  }
}

.contacts.light-theme h2 {
  color: #1c1c1c;
}

.contacts.light-theme input {
  color: #1c1c1c;
  background: rgba(255, 255, 255, 0.5);
}

.contacts.light-theme textarea {
  color: #1c1c1c;
  background: rgba(255, 255, 255, 0.5);
}

.contacts.light-theme input::-webkit-input-placeholder {
  color: #1c1c1c;
}

.contacts.light-theme input:-ms-input-placeholder {
  color: #1c1c1c;
}

.contacts.light-theme input::-ms-input-placeholder {
  color: #1c1c1c;
}

.contacts.light-theme input::placeholder {
  color: #1c1c1c;
}

.contacts.light-theme textarea::-webkit-input-placeholder {
  color: #1c1c1c;
}

.contacts.light-theme textarea:-ms-input-placeholder {
  color: #1c1c1c;
}

.contacts.light-theme textarea::-ms-input-placeholder {
  color: #1c1c1c;
}

.contacts.light-theme textarea::placeholder {
  color: #1c1c1c;
}

.contacts.light-theme .btn.active {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contacts.light-theme .btn.active:hover {
  background: #1c1c1c;
  color: #bdae82;
  -webkit-box-shadow: 0 1em 1.5em -0.4em #6085ff;
          box-shadow: 0 1em 1.5em -0.4em #6085ff;
}

/*========================== FOOTER ======================================================================*/
.footer {
  padding: 50px 0;
}

@media (max-width: 768px) {
  .footer {
    padding: 8px 0;
  }
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .footer__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .footer__inner div {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.footer__inner-copy span {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .footer__inner-copy span {
    margin-right: 22px;
  }
}

.footer__inner-copy a {
  margin-right: 80px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.footer__inner-copy a:hover {
  color: #bdae82;
}

@media (max-width: 768px) {
  .footer__inner-copy {
    margin-left: 90px;
  }
}

.footer__inner-rss a {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.footer__inner-rss a:hover {
  color: #bdae82;
}

@media (max-width: 768px) {
  .footer__inner-rss {
    margin: -10px -13px 7px 0;
  }
}

.footer__inner-contacts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

@media (max-width: 768px) {
  .footer__inner-contacts ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__inner-contacts ul li {
  list-style: none;
}

.footer__inner-contacts ul li .icon {
  width: 32px;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .footer__inner-contacts {
    margin-right: 42px;
  }
}

.light-theme {
  background-color: #ffffff;
  color: #1c1c1c;
}

.light-theme.title {
  background-color: none;
  color: #1c1c1c;
}

.light-theme.title::after, .light-theme.title::before {
  background-color: #1c1c1c;
}

.light-theme:hover {
  color: #1c1c1c;
}

.title {
  padding: 80px 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 50%;
  margin: 20px auto 62px auto;
  font-family: Merriweather;
  font-weight: bold;
  font-size: 26px;
  line-height: 80px;
  text-align: center;
  color: #bdae82;
}

.title::after, .title::before {
  content: "";
  height: 2px;
  width: 100%;
  max-width: 274px;
  margin: 0 20px;
  background-color: #bdae82;
}

@media (max-width: 768px) {
  .title {
    font-size: 22px;
    line-height: 60px;
    margin: 15px auto 32px auto;
  }
}
